@model IEnumerable<Group>
@{
    ViewData["Title"] = "All groups";
}
    <h2>Groups</h2>
    <div class="panel panel-default">

        @if (User.IsInRole("Admin"))
        {
            <div class="alert alert-info" role="alert">
                As an admin, you have access to all of the groups.
            </div>
        }

        @await Html.PartialAsync("~/Views/Group/GroupsTable.cshtml", Model)
        @Html.ActionLink("Create Group", "GroupCreate", "Group", null, new { @class = "btn btn-primary" })
    </div>
