@model IEnumerable<Event>
@{
    ViewData["Title"] = "Events";
}

<h2>Events</h2>
<div class="panel panel-default">

    @if (User.IsInRole("Admin"))
    {
        <div class="alert alert-info" role="alert">
            As an admin, you have access to all of the events.
        </div>
    }

    @await Html.PartialAsync("~/Views/Event/EventsTable.cshtml", Model, new ViewDataDictionary(ViewData)
                        {
                            { "showGroup", true }
                        })
</div>
