/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#mainlogo {
  max-height: 70%;
  max-width: 90%;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

#grad1 {
  height: 100%;
  position: relative;
  top: -100%;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.4), rgba(127, 182, 198, 0.7), rgba(59, 162, 201, 1));
}